<?xml version='1.0' encoding='UTF-8'?>
<root version="2.3.8">
 <tabbed_widget name="Main Window" parent="main_window">
  <plotmatrix tab_name="TRAJECTORY" columns="1" rows="1">
   <plot col="0" row="0">
    <range right="8.867750" left="-8.851800" top="2.000645" bottom="-12.013767"/>
    <limitY/>
    <curve G="201" B="56" name="/robot1/base_pose_ground_truth/pose/position/[x;y]" custom_transform="XYPlot" curve_x="/robot1/base_pose_ground_truth/pose/position/x" curve_y="/robot1/base_pose_ground_truth/pose/position/y" R="26"/>
    <curve G="127" B="14" name="/robot2/base_pose_ground_truth/pose/position/[x;y]" custom_transform="XYPlot" curve_x="/robot2/base_pose_ground_truth/pose/position/x" curve_y="/robot2/base_pose_ground_truth/pose/position/y" R="255"/>
    <curve G="39" B="40" name="/robot_master/base_pose_ground_truth/pose/position/[x;y]" custom_transform="XYPlot" curve_x="/robot_master/base_pose_ground_truth/pose/position/x" curve_y="/robot_master/base_pose_ground_truth/pose/position/y" R="214"/>
    <transform value="XYPlot"/>
   </plot>
  </plotmatrix>
  <plotmatrix tab_name="MASTER" columns="2" rows="3">
   <plot col="0" row="0">
    <range right="127.680000" left="0.020000" top="5.244380" bottom="-5.242778"/>
    <limitY/>
    <curve G="189" B="34" name="/robot_master/control_data/current/pose/position/x" custom_transform="noTransform" R="188"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="1">
    <range right="127.680000" left="0.020000" top="0.249788" bottom="-10.243212"/>
    <limitY/>
    <curve G="127" B="14" name="/robot_master/control_data/current/pose/position/y" custom_transform="noTransform" R="255"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="2">
    <range right="127.680000" left="0.020000" top="3.298165" bottom="-3.298095"/>
    <limitY/>
    <curve G="76" B="193" name="/robot_master/control_data/current/angle" custom_transform="noTransform" R="241"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="1" row="0">
    <range right="127.680000" left="0.020000" top="0.020612" bottom="-0.026732"/>
    <limitY/>
    <curve G="127" B="14" name="/robot_master/control_data/difference/translation/x" custom_transform="noTransform" R="255"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="1" row="1">
    <range right="127.680000" left="0.020000" top="0.007766" bottom="-0.000143"/>
    <limitY/>
    <curve G="76" B="193" name="/robot_master/control_data/difference/translation/y" custom_transform="noTransform" R="241"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="1" row="2">
    <range right="127.680000" left="0.020000" top="0.003534" bottom="-0.004245"/>
    <limitY/>
    <curve G="201" B="56" name="/robot_master/control_data/difference/angle" custom_transform="noTransform" R="26"/>
    <transform value="noTransform"/>
   </plot>
  </plotmatrix>
  <plotmatrix tab_name="MASTER CONTROLLER" columns="1" rows="5">
   <plot col="0" row="0">
    <range right="127.680000" left="0.020000" top="5.244380" bottom="-5.242778"/>
    <limitY/>
    <curve G="189" B="34" name="/robot_master/control_data/current/pose/position/x" custom_transform="noTransform" R="188"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="1">
    <range right="127.680000" left="0.020000" top="0.007766" bottom="-0.000143"/>
    <limitY/>
    <curve G="76" B="193" name="/robot_master/control_data/difference/translation/y" custom_transform="noTransform" R="241"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="2">
    <range right="127.680000" left="0.020000" top="0.003534" bottom="-0.004245"/>
    <limitY/>
    <curve G="201" B="56" name="/robot_master/control_data/difference/angle" custom_transform="noTransform" R="26"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="3">
    <range right="127.680000" left="0.020000" top="0.396055" bottom="-0.009899"/>
    <limitY/>
    <curve G="190" B="207" name="/robot_master/control_data/control/linear" custom_transform="noTransform" R="23"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="4">
    <range right="127.680000" left="0.020000" top="0.003047" bottom="-0.088036"/>
    <limitY/>
    <curve G="103" B="189" name="/robot_master/control_data/control/angular" custom_transform="noTransform" R="148"/>
    <transform value="noTransform"/>
   </plot>
  </plotmatrix>
  <plotmatrix tab_name="SLAVE 1" columns="2" rows="3">
   <plot col="0" row="0">
    <range right="127.680000" left="0.000000" top="6.998283" bottom="-6.997832"/>
    <limitY/>
    <curve G="119" B="180" name="/robot1/control_data/current/pose/position/x" custom_transform="noTransform" R="31"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="1">
    <range right="127.680000" left="0.000000" top="2.000645" bottom="-11.998264"/>
    <limitY/>
    <curve G="119" B="180" name="/robot1/control_data/current/pose/position/y" custom_transform="noTransform" R="31"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="2">
    <range right="127.680000" left="0.000000" top="3.298582" bottom="-3.297745"/>
    <limitY/>
    <curve G="201" B="56" name="/robot1/control_data/current/angle" custom_transform="noTransform" R="26"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="1" row="0">
    <range right="127.680000" left="0.000000" top="0.036540" bottom="-0.037670"/>
    <limitY/>
    <curve G="76" B="193" name="/robot1/control_data/difference/translation/x" custom_transform="noTransform" R="241"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="1" row="1">
    <range right="127.680000" left="0.000000" top="0.019702" bottom="-0.005726"/>
    <limitY/>
    <curve G="103" B="189" name="/robot1/control_data/difference/translation/y" custom_transform="noTransform" R="148"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="1" row="2">
    <range right="127.680000" left="0.000000" top="0.236264" bottom="-0.159219"/>
    <limitY/>
    <curve G="127" B="14" name="/robot1/control_data/difference/angle" custom_transform="noTransform" R="255"/>
    <transform value="noTransform"/>
   </plot>
  </plotmatrix>
  <plotmatrix tab_name="SLAVE CONTROLLER" columns="1" rows="5">
   <plot col="0" row="0">
    <range right="127.680000" left="0.000000" top="0.036540" bottom="-0.037670"/>
    <limitY/>
    <curve G="76" B="193" name="/robot1/control_data/difference/translation/x" custom_transform="noTransform" R="241"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="1">
    <range right="127.680000" left="0.000000" top="0.019702" bottom="-0.005726"/>
    <limitY/>
    <curve G="103" B="189" name="/robot1/control_data/difference/translation/y" custom_transform="noTransform" R="148"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="2">
    <range right="127.680000" left="0.000000" top="0.236264" bottom="-0.159219"/>
    <limitY/>
    <curve G="127" B="14" name="/robot1/control_data/difference/angle" custom_transform="noTransform" R="255"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="3">
    <range right="127.680000" left="0.000000" top="0.585628" bottom="-0.014525"/>
    <limitY/>
    <curve G="119" B="180" name="/robot1/control_data/control/linear" custom_transform="noTransform" R="31"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="4">
    <range right="127.680000" left="0.000000" top="2.526975" bottom="-1.779607"/>
    <limitY/>
    <curve G="39" B="40" name="/robot1/control_data/control/angular" custom_transform="noTransform" R="214"/>
    <transform value="noTransform"/>
   </plot>
  </plotmatrix>
  <plotmatrix tab_name="SLAVE2" columns="2" rows="3">
   <plot col="0" row="0">
    <range right="127.680000" left="0.000000" top="6.998283" bottom="-6.997832"/>
    <limitY/>
    <curve G="189" B="34" name="/robot1/control_data/current/pose/position/x" custom_transform="noTransform" R="188"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="1">
    <range right="127.680000" left="0.000000" top="2.000645" bottom="-11.998264"/>
    <limitY/>
    <curve G="119" B="180" name="/robot1/control_data/current/pose/position/y" custom_transform="noTransform" R="31"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="2">
    <range right="127.680000" left="0.020000" top="3.298474" bottom="-3.297030"/>
    <limitY/>
    <curve G="39" B="40" name="/robot2/control_data/current/angle" custom_transform="noTransform" R="214"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="1" row="0">
    <range right="127.680000" left="0.020000" top="0.013398" bottom="-0.018802"/>
    <limitY/>
    <curve G="190" B="207" name="/robot2/control_data/difference/translation/x" custom_transform="noTransform" R="23"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="1" row="1">
    <range right="127.680000" left="0.020000" top="0.029149" bottom="-0.003033"/>
    <limitY/>
    <curve G="189" B="34" name="/robot2/control_data/difference/translation/y" custom_transform="noTransform" R="188"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="1" row="2">
    <range right="127.680000" left="0.020000" top="0.421483" bottom="-0.273208"/>
    <limitY/>
    <curve G="103" B="189" name="/robot2/control_data/difference/angle" custom_transform="noTransform" R="148"/>
    <transform value="noTransform"/>
   </plot>
  </plotmatrix>
  <plotmatrix tab_name="SLAVE2 CONTROLLER" columns="1" rows="5">
   <plot col="0" row="0">
    <range right="127.680000" left="0.020000" top="0.013398" bottom="-0.018802"/>
    <limitY/>
    <curve G="190" B="207" name="/robot2/control_data/difference/translation/x" custom_transform="noTransform" R="23"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="1">
    <range right="127.680000" left="0.020000" top="0.029149" bottom="-0.003033"/>
    <limitY/>
    <curve G="189" B="34" name="/robot2/control_data/difference/translation/y" custom_transform="noTransform" R="188"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="2">
    <range right="127.680000" left="0.020000" top="0.421483" bottom="-0.273208"/>
    <limitY/>
    <curve G="103" B="189" name="/robot2/control_data/difference/angle" custom_transform="noTransform" R="148"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="3">
    <range right="127.680000" left="0.020000" top="0.278612" bottom="-0.006985"/>
    <limitY/>
    <curve G="127" B="14" name="/robot2/control_data/control/linear" custom_transform="noTransform" R="255"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="4">
    <range right="127.680000" left="0.020000" top="4.461629" bottom="-3.003479"/>
    <limitY/>
    <curve G="201" B="56" name="/robot2/control_data/control/angular" custom_transform="noTransform" R="26"/>
    <transform value="noTransform"/>
   </plot>
  </plotmatrix>
  <currentPlotMatrix index="5"/>
 </tabbed_widget>
 <use_relative_time_offset enabled="1"/>
 <!-- - - - - - - - - - - - - - - -->
 <!-- - - - - - - - - - - - - - - -->
 <Plugins>
  <plugin ID="DataLoad CSV">
   <default time_axis=""/>
  </plugin>
  <plugin ID="DataLoad ROS bags">
   <use_header_stamp value="true"/>
   <use_renaming_rules value="true"/>
   <discard_large_arrays value="true"/>
   <max_array_size value="100"/>
  </plugin>
  <plugin ID="DataLoad ULog"/>
  <plugin ID="ROS Topic Subscriber">
   <use_header_stamp value="false"/>
   <use_renaming_rules value="true"/>
   <discard_large_arrays value="true"/>
   <max_array_size value="100"/>
  </plugin>
  <plugin ID="ROS /rosout Visualization" status="idle"/>
  <plugin ID="ROS Topic Re-Publisher" status="idle"/>
 </Plugins>
 <!-- - - - - - - - - - - - - - - -->
 <previouslyLoaded_Datafiles>
  <fileInfo filename="/home/rosmatch/Dokumente/Ground_Truth/Circle_Ground_Truth/Circle_Ground_Truth.bag" prefix="">
   <selected_datasources value="/current_formation;/estimated_formation;/target_formation"/>
   <plugin ID="DataLoad ROS bags">
    <use_header_stamp value="true"/>
    <use_renaming_rules value="true"/>
    <discard_large_arrays value="true"/>
    <max_array_size value="100"/>
   </plugin>
  </fileInfo>
  <fileInfo filename="/home/rosmatch/catkin_ws/src/multi_robot_system/multi_robot_launcher/bag/Circle_1_2020-01-06-09-42-59.bag" prefix="">
   <selected_datasources value="/robot_master/control_data;/robot1/control_data;/robot2/control_data;/trajectory_odom"/>
   <plugin ID="DataLoad ROS bags">
    <use_header_stamp value="true"/>
    <use_renaming_rules value="true"/>
    <discard_large_arrays value="true"/>
    <max_array_size value="100"/>
   </plugin>
  </fileInfo>
  <fileInfo filename="/home/rosmatch/catkin_ws/src/multi_robot_system/multi_robot_launcher/bag/Circle_2_2020-01-06-10-06-11.bag" prefix="">
   <selected_datasources value="/robot_master/control_data;/robot1/control_data;/robot2/control_data;/trajectory_odom;/robot1/base_pose_ground_truth;/robot_master/base_pose_ground_truth;/robot2/base_pose_ground_truth"/>
   <plugin ID="DataLoad ROS bags">
    <use_header_stamp value="true"/>
    <use_renaming_rules value="true"/>
    <discard_large_arrays value="true"/>
    <max_array_size value="100"/>
   </plugin>
  </fileInfo>
 </previouslyLoaded_Datafiles>
 <!-- - - - - - - - - - - - - - - -->
 <customMathEquations/>
 <snippets/>
 <!-- - - - - - - - - - - - - - - -->
</root>

