<?xml version='1.0' encoding='UTF-8'?>
<root version="2.3.8">
 <tabbed_widget name="Main Window" parent="main_window">
  <plotmatrix tab_name="TRAJECTORY" rows="1" columns="1">
   <plot col="0" row="0">
    <range top="-7.770964" left="-4.071200" bottom="-12.213593" right="1.545974"/>
    <limitY/>
    <curve R="26" G="201" name="/robot1/base_pose_ground_truth/pose/position/[x;y]" curve_x="/robot1/base_pose_ground_truth/pose/position/x" custom_transform="XYPlot" B="56" curve_y="/robot1/base_pose_ground_truth/pose/position/y"/>
    <curve R="255" G="127" name="/robot2/base_pose_ground_truth/pose/position/[x;y]" curve_x="/robot2/base_pose_ground_truth/pose/position/x" custom_transform="XYPlot" B="14" curve_y="/robot2/base_pose_ground_truth/pose/position/y"/>
    <curve R="214" G="39" name="/robot_master/base_pose_ground_truth/pose/position/[x;y]" curve_x="/robot_master/base_pose_ground_truth/pose/position/x" custom_transform="XYPlot" B="40" curve_y="/robot_master/base_pose_ground_truth/pose/position/y"/>
    <transform value="XYPlot"/>
   </plot>
  </plotmatrix>
  <plotmatrix tab_name="MASTER" rows="3" columns="2">
   <plot col="0" row="0">
    <range top="0.015063" left="0.000000" bottom="-5.121179" right="35.196000"/>
    <limitY/>
    <curve R="31" G="119" name="/current_formation/formation.0/position/x" custom_transform="noTransform" B="180"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="1">
    <range top="-3.809853" left="0.000000" bottom="-10.155707" right="35.193000"/>
    <limitY/>
    <curve R="255" G="127" name="/robot_master/control_data/current/pose/position/y" custom_transform="noTransform" B="14"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="2">
    <range top="3.165908" left="0.000000" bottom="1.316842" right="35.193000"/>
    <limitY/>
    <curve R="241" G="76" name="/robot_master/control_data/current/angle" custom_transform="noTransform" B="193"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="1" row="0">
    <range top="0.013015" left="0.000000" bottom="-0.012613" right="35.193000"/>
    <limitY/>
    <curve R="255" G="127" name="/robot_master/control_data/difference/translation/x" custom_transform="noTransform" B="14"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="1" row="1">
    <range top="-0.004555" left="0.000000" bottom="-0.006096" right="35.193000"/>
    <limitY/>
    <curve R="241" G="76" name="/robot_master/control_data/difference/translation/y" custom_transform="noTransform" B="193"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="1" row="2">
    <range top="0.003234" left="0.000000" bottom="-0.001871" right="35.193000"/>
    <limitY/>
    <curve R="26" G="201" name="/robot_master/control_data/difference/angle" custom_transform="noTransform" B="56"/>
    <transform value="noTransform"/>
   </plot>
  </plotmatrix>
  <plotmatrix tab_name="MASTER CONTROLLER" rows="5" columns="1">
   <plot col="0" row="0">
    <range top="0.018603" left="0.000000" bottom="-0.015185" right="35.392000"/>
    <limitY/>
    <curve R="241" G="76" name="/robot1/control_data/difference/translation/x" custom_transform="noTransform" B="193"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="1">
    <range top="-0.004555" left="0.000000" bottom="-0.006096" right="35.392000"/>
    <limitY/>
    <curve R="241" G="76" name="/robot_master/control_data/difference/translation/y" custom_transform="noTransform" B="193"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="2">
    <range top="0.003234" left="0.000000" bottom="-0.001871" right="35.392000"/>
    <limitY/>
    <curve R="26" G="201" name="/robot_master/control_data/difference/angle" custom_transform="noTransform" B="56"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="3">
    <range top="0.341108" left="0.000000" bottom="0.161709" right="35.392000"/>
    <limitY/>
    <curve R="23" G="190" name="/robot_master/control_data/control/linear" custom_transform="noTransform" B="207"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="4">
    <range top="-0.022887" left="0.000000" bottom="-0.080250" right="35.392000"/>
    <limitY/>
    <curve R="148" G="103" name="/robot_master/control_data/control/angular" custom_transform="noTransform" B="189"/>
    <transform value="noTransform"/>
   </plot>
  </plotmatrix>
  <plotmatrix tab_name="SLAVE 1" rows="3" columns="2">
   <plot col="0" row="0">
    <range top="0.018603" left="0.000000" bottom="-0.015185" right="37.452000"/>
    <limitY/>
    <curve R="241" G="76" name="/robot1/control_data/difference/translation/x" custom_transform="noTransform" B="193"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="1">
    <range top="-4.182202" left="0.000000" bottom="-11.858976" right="37.452000"/>
    <limitY/>
    <curve R="31" G="119" name="/robot1/control_data/current/pose/position/y" custom_transform="noTransform" B="180"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="2">
    <range top="3.298397" left="0.000000" bottom="-3.297502" right="37.452000"/>
    <limitY/>
    <curve R="26" G="201" name="/robot1/control_data/current/angle" custom_transform="noTransform" B="56"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="1" row="0">
    <range top="0.018603" left="0.000000" bottom="-0.015185" right="37.452000"/>
    <limitY/>
    <curve R="241" G="76" name="/robot1/control_data/difference/translation/x" custom_transform="noTransform" B="193"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="1" row="1">
    <range top="-0.001828" left="0.000000" bottom="-0.005952" right="37.452000"/>
    <limitY/>
    <curve R="148" G="103" name="/robot1/control_data/difference/translation/y" custom_transform="noTransform" B="189"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="1" row="2">
    <range top="0.003152" left="0.000000" bottom="-0.002231" right="37.452000"/>
    <limitY/>
    <curve R="255" G="127" name="/robot1/control_data/difference/angle" custom_transform="noTransform" B="14"/>
    <transform value="noTransform"/>
   </plot>
  </plotmatrix>
  <plotmatrix tab_name="SLAVE CONTROLLER" rows="5" columns="1">
   <plot col="0" row="0">
    <range top="0.018603" left="0.000000" bottom="-0.015185" right="39.753000"/>
    <limitY/>
    <curve R="241" G="76" name="/robot1/control_data/difference/translation/x" custom_transform="noTransform" B="193"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="1">
    <range top="-0.001448" left="0.000000" bottom="-0.005961" right="39.753000"/>
    <limitY/>
    <curve R="148" G="103" name="/robot1/control_data/difference/translation/y" custom_transform="noTransform" B="189"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="2">
    <range top="0.003152" left="0.000000" bottom="-0.002231" right="39.753000"/>
    <limitY/>
    <curve R="255" G="127" name="/robot1/control_data/difference/angle" custom_transform="noTransform" B="14"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="3">
    <range top="0.463765" left="0.000000" bottom="0.227247" right="39.753000"/>
    <limitY/>
    <curve R="31" G="119" name="/robot1/control_data/control/linear" custom_transform="noTransform" B="180"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="4">
    <range top="-0.024753" left="0.000000" bottom="-0.084914" right="39.753000"/>
    <limitY/>
    <curve R="214" G="39" name="/robot1/control_data/control/angular" custom_transform="noTransform" B="40"/>
    <transform value="noTransform"/>
   </plot>
  </plotmatrix>
  <plotmatrix tab_name="SLAVE2" rows="3" columns="2">
   <plot col="0" row="0">
    <range top="1.572268" left="0.000000" bottom="-6.874502" right="40.473000"/>
    <limitY/>
    <curve R="188" G="189" name="/robot1/control_data/current/pose/position/x" custom_transform="noTransform" B="34"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="1">
    <range top="-3.169584" left="0.000000" bottom="-11.883674" right="40.473000"/>
    <limitY/>
    <curve R="31" G="119" name="/robot1/control_data/current/pose/position/y" custom_transform="noTransform" B="180"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="2">
    <range top="3.298119" left="0.000000" bottom="-3.298133" right="40.473000"/>
    <limitY/>
    <curve R="214" G="39" name="/robot2/control_data/current/angle" custom_transform="noTransform" B="40"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="1" row="0">
    <range top="0.010640" left="0.000000" bottom="-0.008081" right="40.473000"/>
    <limitY/>
    <curve R="23" G="190" name="/robot2/control_data/difference/translation/x" custom_transform="noTransform" B="207"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="1" row="1">
    <range top="-0.004270" left="0.000000" bottom="-0.005969" right="40.473000"/>
    <limitY/>
    <curve R="188" G="189" name="/robot2/control_data/difference/translation/y" custom_transform="noTransform" B="34"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="1" row="2">
    <range top="0.002814" left="0.000000" bottom="-0.002452" right="40.473000"/>
    <limitY/>
    <curve R="148" G="103" name="/robot2/control_data/difference/angle" custom_transform="noTransform" B="189"/>
    <transform value="noTransform"/>
   </plot>
  </plotmatrix>
  <plotmatrix tab_name="SLAVE2 CONTROLLER" rows="5" columns="1">
   <plot col="0" row="0">
    <range top="0.010646" left="0.000000" bottom="-0.008332" right="42.303000"/>
    <limitY/>
    <curve R="23" G="190" name="/robot2/control_data/difference/translation/x" custom_transform="noTransform" B="207"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="1">
    <range top="-0.004270" left="0.000000" bottom="-0.005969" right="42.303000"/>
    <limitY/>
    <curve R="188" G="189" name="/robot2/control_data/difference/translation/y" custom_transform="noTransform" B="34"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="2">
    <range top="0.002814" left="0.000000" bottom="-0.002452" right="42.303000"/>
    <limitY/>
    <curve R="148" G="103" name="/robot2/control_data/difference/angle" custom_transform="noTransform" B="189"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="3">
    <range top="0.264917" left="0.000000" bottom="0.132067" right="42.303000"/>
    <limitY/>
    <curve R="255" G="127" name="/robot2/control_data/control/linear" custom_transform="noTransform" B="14"/>
    <transform value="noTransform"/>
   </plot>
   <plot col="0" row="4">
    <range top="-0.025021" left="0.000000" bottom="-0.083675" right="42.303000"/>
    <limitY/>
    <curve R="26" G="201" name="/robot2/control_data/control/angular" custom_transform="noTransform" B="56"/>
    <transform value="noTransform"/>
   </plot>
  </plotmatrix>
  <currentPlotMatrix index="6"/>
 </tabbed_widget>
 <use_relative_time_offset enabled="1"/>
 <!-- - - - - - - - - - - - - - - -->
 <!-- - - - - - - - - - - - - - - -->
 <Plugins>
  <plugin ID="DataLoad CSV">
   <default time_axis=""/>
  </plugin>
  <plugin ID="DataLoad ROS bags">
   <use_header_stamp value="true"/>
   <use_renaming_rules value="true"/>
   <discard_large_arrays value="true"/>
   <max_array_size value="100"/>
  </plugin>
  <plugin ID="DataLoad ULog"/>
  <plugin ID="ROS Topic Subscriber">
   <use_header_stamp value="false"/>
   <use_renaming_rules value="true"/>
   <discard_large_arrays value="true"/>
   <max_array_size value="100"/>
  </plugin>
  <plugin status="idle" ID="ROS /rosout Visualization"/>
  <plugin status="idle" ID="ROS Topic Re-Publisher"/>
 </Plugins>
 <!-- - - - - - - - - - - - - - - -->
 <previouslyLoaded_Datafiles>
  <fileInfo filename="/home/rosmatch/Dokumente/Ground_Truth/Circle_Ground_Truth/Circle_Ground_Truth.bag" prefix="">
   <selected_datasources value="/current_formation;/estimated_formation;/target_formation"/>
   <plugin ID="DataLoad ROS bags">
    <use_header_stamp value="true"/>
    <use_renaming_rules value="true"/>
    <discard_large_arrays value="true"/>
    <max_array_size value="100"/>
   </plugin>
  </fileInfo>
  <fileInfo filename="/home/rosmatch/catkin_ws/src/multi_robot_system/multi_robot_launcher/bag/Circle_1_2020-01-06-09-42-59.bag" prefix="">
   <selected_datasources value="/robot_master/control_data;/robot1/control_data;/robot2/control_data;/trajectory_odom"/>
   <plugin ID="DataLoad ROS bags">
    <use_header_stamp value="true"/>
    <use_renaming_rules value="true"/>
    <discard_large_arrays value="true"/>
    <max_array_size value="100"/>
   </plugin>
  </fileInfo>
  <fileInfo filename="/home/rosmatch/catkin_ws/src/multi_robot_system/multi_robot_launcher/bag/Circle_2_2020-01-06-10-06-11.bag" prefix="">
   <selected_datasources value="/robot_master/control_data;/robot1/control_data;/robot2/control_data;/trajectory_odom;/robot1/base_pose_ground_truth;/robot_master/base_pose_ground_truth;/robot2/base_pose_ground_truth"/>
   <plugin ID="DataLoad ROS bags">
    <use_header_stamp value="true"/>
    <use_renaming_rules value="true"/>
    <discard_large_arrays value="true"/>
    <max_array_size value="100"/>
   </plugin>
  </fileInfo>
 </previouslyLoaded_Datafiles>
 <previouslyLoaded_Streamer name="ROS Topic Subscriber"/>
 <!-- - - - - - - - - - - - - - - -->
 <customMathEquations/>
 <snippets/>
 <!-- - - - - - - - - - - - - - - -->
</root>

