<?xml version='1.0' encoding='UTF-8'?>
<root version="2.3.0">
 <tabbed_widget parent="main_window" name="Main Window">
  <plotmatrix rows="1" columns="1" tab_name="TRAJECTORY">
   <plot row="0" col="0">
    <range top="1.575000" bottom="-1.575000" left="-2.741399" right="1.241399"/>
    <limitY/>
    <curve name="/robot1/control_data/position_in/[x;y]" curve_y="/robot1/control_data/position_in/y" custom_transform="XYPlot" R="148" G="103" curve_x="/robot1/control_data/position_in/x" B="189"/>
    <curve name="/robot1/state/pose/position/[x;y]" curve_y="/robot1/state/pose/position/y" custom_transform="XYPlot" R="241" G="76" curve_x="/robot1/state/pose/position/x" B="193"/>
    <curve name="/robot2/control_data/position_in/[x;y]" curve_y="/robot2/control_data/position_in/y" custom_transform="XYPlot" R="23" G="190" curve_x="/robot2/control_data/position_in/x" B="207"/>
    <curve name="/robot2/state/pose/position/[x;y]" curve_y="/robot2/state/pose/position/y" custom_transform="XYPlot" R="26" G="201" curve_x="/robot2/state/pose/position/x" B="56"/>
    <curve name="/robot_master/control_data/position_in/[x;y]" curve_y="/robot_master/control_data/position_in/y" custom_transform="XYPlot" R="188" G="189" curve_x="/robot_master/control_data/position_in/x" B="34"/>
    <curve name="/robot_master/state/pose/position/[x;y]" curve_y="/robot_master/state/pose/position/y" custom_transform="XYPlot" R="255" G="127" curve_x="/robot_master/state/pose/position/x" B="14"/>
    <transform value="XYPlot"/>
   </plot>
  </plotmatrix>
  <plotmatrix rows="3" columns="2" tab_name="MASTER">
   <plot row="0" col="0">
    <range top="0.000042" bottom="-0.000014" left="3.592000" right="63.591000"/>
    <limitY/>
    <curve name="/robot_master/control_data/position_in/x" custom_transform="noTransform" R="255" G="127" B="14"/>
    <curve name="/robot_master/state/pose/x" custom_transform="noTransform" R="23" G="190" B="207"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="1" col="0">
    <range top="0.000165" bottom="-0.006756" left="3.592000" right="63.591000"/>
    <limitY/>
    <curve name="/robot_master/control_data/position_in/y" custom_transform="noTransform" R="241" G="76" B="193"/>
    <curve name="/robot_master/state/pose/y" custom_transform="noTransform" R="241" G="76" B="193"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="2" col="0">
    <range top="0.000006" bottom="-0.000226" left="3.592000" right="63.591000"/>
    <limitY/>
    <curve name="/robot_master/control_data/angle_in" custom_transform="noTransform" R="31" G="119" B="180"/>
    <curve name="/robot_master/state/pose/theta" custom_transform="noTransform" R="148" G="103" B="189"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="0" col="1">
    <range top="0.000042" bottom="-0.000014" left="3.592000" right="63.591000"/>
    <limitY/>
    <curve name="/robot_master/control_data/control_difference_cart/x" custom_transform="noTransform" R="214" G="39" B="40"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="1" col="1">
    <range top="-0.003990" bottom="-0.006655" left="3.592000" right="63.591000"/>
    <limitY/>
    <curve name="/robot_master/control_data/control_difference_cart/y" custom_transform="noTransform" R="26" G="201" B="56"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="2" col="1">
    <range top="0.000226" bottom="0.000005" left="3.592000" right="63.591000"/>
    <limitY/>
    <curve name="/robot_master/control_data/control_difference_angular" custom_transform="noTransform" R="214" G="39" B="40"/>
    <transform value="noTransform"/>
   </plot>
  </plotmatrix>
  <plotmatrix rows="5" columns="1" tab_name="MASTER CONTROLLER">
   <plot row="0" col="0">
    <range top="0.000042" bottom="-0.000014" left="4.440000" right="64.417000"/>
    <limitY/>
    <curve name="/robot_master/control_data/control_difference_cart/x" custom_transform="noTransform" R="214" G="39" B="40"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="1" col="0">
    <range top="-0.004019" bottom="-0.006682" left="4.440000" right="64.417000"/>
    <limitY/>
    <curve name="/robot_master/control_data/control_difference_cart/y" custom_transform="noTransform" R="26" G="201" B="56"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="2" col="0">
    <range top="0.000226" bottom="0.000005" left="4.440000" right="64.417000"/>
    <limitY/>
    <curve name="/robot_master/control_data/control_difference_angular" custom_transform="noTransform" R="214" G="39" B="40"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="3" col="0">
    <range top="0.000097" bottom="-0.000299" left="4.440000" right="64.417000"/>
    <limitY/>
    <curve name="/robot_master/control_data/linear_velocity_out" custom_transform="noTransform" R="23" G="190" B="207"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="4" col="0">
    <range top="0.002034" bottom="0.000043" left="4.440000" right="64.417000"/>
    <limitY/>
    <curve name="/robot_master/control_data/angular_velocity_out" custom_transform="noTransform" R="148" G="103" B="189"/>
    <transform value="noTransform"/>
   </plot>
  </plotmatrix>
  <plotmatrix rows="3" columns="2" tab_name="SLAVE 1">
   <plot row="0" col="0">
    <range top="-1.499969" bottom="-1.500014" left="5.082000" right="65.082000"/>
    <limitY/>
    <curve name="/robot1/control_data/position_in/x" custom_transform="noTransform" R="31" G="119" B="180"/>
    <curve name="/robot1/state/pose/x" custom_transform="noTransform" R="188" G="189" B="34"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="1" col="0">
    <range top="1.500147" bottom="1.493958" left="5.082000" right="65.082000"/>
    <limitY/>
    <curve name="/robot1/control_data/position_in/y" custom_transform="noTransform" R="23" G="190" B="207"/>
    <curve name="/robot1/state/pose/y" custom_transform="noTransform" R="31" G="119" B="180"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="2" col="0">
    <range top="0.000035" bottom="-0.000139" left="5.082000" right="65.082000"/>
    <limitY/>
    <curve name="/robot1/control_data/angle_in" custom_transform="noTransform" R="23" G="190" B="207"/>
    <curve name="/robot1/state/pose/theta" custom_transform="noTransform" R="241" G="76" B="193"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="0" col="1">
    <range top="0.000031" bottom="-0.000014" left="5.082000" right="65.082000"/>
    <limitY/>
    <curve name="/robot1/control_data/control_difference_cart/x" custom_transform="noTransform" R="188" G="189" B="34"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="1" col="1">
    <range top="-0.003531" bottom="-0.005952" left="5.082000" right="65.082000"/>
    <limitY/>
    <curve name="/robot1/control_data/control_difference_cart/y" custom_transform="noTransform" R="31" G="119" B="180"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="2" col="1">
    <range top="0.000166" bottom="-0.000020" left="5.082000" right="65.082000"/>
    <limitY/>
    <curve name="/robot1/control_data/control_difference_angular" custom_transform="noTransform" R="188" G="189" B="34"/>
    <transform value="noTransform"/>
   </plot>
  </plotmatrix>
  <plotmatrix rows="5" columns="1" tab_name="SLAVE CONTROLLER">
   <plot row="0" col="0">
    <range top="0.000031" bottom="-0.000014" left="5.522000" right="65.522000"/>
    <limitY/>
    <curve name="/robot1/control_data/control_difference_cart/x" custom_transform="noTransform" R="188" G="189" B="34"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="1" col="0">
    <range top="-0.003546" bottom="-0.005969" left="5.522000" right="65.522000"/>
    <limitY/>
    <curve name="/robot1/control_data/control_difference_cart/y" custom_transform="noTransform" R="31" G="119" B="180"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="2" col="0">
    <range top="0.000166" bottom="-0.000020" left="5.522000" right="65.522000"/>
    <limitY/>
    <curve name="/robot1/control_data/control_difference_angular" custom_transform="noTransform" R="188" G="189" B="34"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="3" col="0">
    <range top="0.000102" bottom="-0.000224" left="5.522000" right="65.522000"/>
    <limitY/>
    <curve name="/robot1/control_data/linear_velocity_out" custom_transform="noTransform" R="214" G="39" B="40"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="4" col="0">
    <range top="0.001498" bottom="-0.000183" left="5.522000" right="65.522000"/>
    <limitY/>
    <curve name="/robot1/control_data/angular_velocity_out" custom_transform="noTransform" R="31" G="119" B="180"/>
    <transform value="noTransform"/>
   </plot>
  </plotmatrix>
  <plotmatrix rows="3" columns="2" tab_name="SLAVE2">
   <plot row="0" col="0">
    <range top="-1.499957" bottom="-1.500008" left="5.922000" right="65.922000"/>
    <limitY/>
    <curve name="/robot2/control_data/position_in/x" custom_transform="noTransform" R="26" G="201" B="56"/>
    <curve name="/robot2/state/pose/x" custom_transform="noTransform" R="214" G="39" B="40"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="1" col="0">
    <range top="-1.499776" bottom="-1.509183" left="5.922000" right="65.922000"/>
    <limitY/>
    <curve name="/robot2/control_data/position_in/y" custom_transform="noTransform" R="255" G="127" B="14"/>
    <curve name="/robot2/state/pose/y" custom_transform="noTransform" R="26" G="201" B="56"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="2" col="0">
    <range top="0.000127" bottom="-0.000267" left="5.922000" right="65.922000"/>
    <limitY/>
    <curve name="/robot2/control_data/angle_in" custom_transform="noTransform" R="26" G="201" B="56"/>
    <curve name="/robot2/state/pose/theta" custom_transform="noTransform" R="255" G="127" B="14"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="0" col="1">
    <range top="0.000043" bottom="-0.000008" left="5.922000" right="65.922000"/>
    <limitY/>
    <curve name="/robot2/control_data/control_difference_cart/x" custom_transform="noTransform" R="241" G="76" B="193"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="1" col="1">
    <range top="-0.006264" bottom="-0.009025" left="5.922000" right="65.922000"/>
    <limitY/>
    <curve name="/robot2/control_data/control_difference_cart/y" custom_transform="noTransform" R="148" G="103" B="189"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="2" col="1">
    <range top="0.000287" bottom="-0.000139" left="5.922000" right="65.922000"/>
    <limitY/>
    <curve name="/robot2/control_data/control_difference_angular" custom_transform="noTransform" R="255" G="127" B="14"/>
    <transform value="noTransform"/>
   </plot>
  </plotmatrix>
  <plotmatrix rows="5" columns="1" tab_name="SLAVE2 CONTROLLER">
   <plot row="0" col="0">
    <range top="0.000043" bottom="-0.000008" left="7.732000" right="67.732000"/>
    <limitY/>
    <curve name="/robot2/control_data/control_difference_cart/x" custom_transform="noTransform" R="241" G="76" B="193"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="1" col="0">
    <range top="-0.006382" bottom="-0.009083" left="7.732000" right="67.732000"/>
    <limitY/>
    <curve name="/robot2/control_data/control_difference_cart/y" custom_transform="noTransform" R="148" G="103" B="189"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="2" col="0">
    <range top="0.000287" bottom="-0.000139" left="7.732000" right="67.732000"/>
    <limitY/>
    <curve name="/robot2/control_data/control_difference_angular" custom_transform="noTransform" R="255" G="127" B="14"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="3" col="0">
    <range top="0.000055" bottom="-0.000299" left="7.732000" right="67.732000"/>
    <limitY/>
    <curve name="/robot2/control_data/linear_velocity_out" custom_transform="noTransform" R="23" G="190" B="207"/>
    <transform value="noTransform"/>
   </plot>
   <plot row="4" col="0">
    <range top="0.002581" bottom="-0.001255" left="7.732000" right="67.732000"/>
    <limitY/>
    <curve name="/robot2/control_data/angular_velocity_out" custom_transform="noTransform" R="188" G="189" B="34"/>
    <transform value="noTransform"/>
   </plot>
  </plotmatrix>
  <currentPlotMatrix index="6"/>
 </tabbed_widget>
 <use_relative_time_offset enabled="1"/>
 <!-- - - - - - - - - - - - - - - -->
 <!-- - - - - - - - - - - - - - - -->
 <Plugins>
  <plugin ID="DataLoad_CSV">
   <default time_axis=""/>
  </plugin>
  <plugin ID="DataLoad_ROS_bags">
   <use_header_stamp value="true"/>
   <use_renaming_rules value="true"/>
   <discard_large_arrays value="true"/>
   <max_array_size value="100"/>
  </plugin>
  <plugin ID="DataLoad_ULog"/>
  <plugin ID="ROS_Topic_Streamer">
   <use_header_stamp value="false"/>
   <use_renaming_rules value="true"/>
   <discard_large_arrays value="true"/>
   <max_array_size value="100"/>
  </plugin>
  <plugin status="idle" ID="RosoutPublisherROS"/>
  <plugin status="idle" ID="TopicPublisherROS"/>
 </Plugins>
 <!-- - - - - - - - - - - - - - - -->
 <previouslyLoaded_Datafiles/>
 <previouslyLoaded_Streamer name="ROS_Topic_Streamer"/>
 <!-- - - - - - - - - - - - - - - -->
 <customMathEquations/>
 <snippets/>
 <!-- - - - - - - - - - - - - - - -->
</root>

