<?xml version="1.0" ?>
<!-- Start a recorded simulation-->
<launch>
  <arg name="filename" default="test"/>

 

  <!-- Load the formation parameter file-->
  <rosparam file="$(find multi_robot_launcher)/config/formation.yaml" command="load"></rosparam>

  <!-- Load the gazebo simualtion environment-->
  <include file="$(find multi_robot_launcher)/launch/gazebo.launch">
    <arg name="world_name" value="$(find multi_robot_launcher)/worlds/empty_world.world"/>
    <arg name="paused" value="true" />
    <arg name="gui" value="true" />
    <arg name="recording" value="false"/>
    <arg name="verbose" value="true"/>
  </include>

  <!-- Setting up the Formation of robots -->
  <include file="$(find multi_robot_launcher)/launch/formation.launch"></include>

  <!-- Recording data-->
  <include file="$(find multi_robot_launcher)/launch/record.launch">
    <arg name="filename" value="$(arg filename)"/>
  </include>
</launch>
