<?xml version="1.0" ?>
<!-- Start a recorded simulation-->
<launch>
  <arg name="filename" default="test"/>

 
<!-- 
  <include file="$(find multi_robot_launcher)/launch/gazebo.launch">
    <arg name="world_name" value="$(find multi_robot_launcher)/worlds/empty_world_camera.world"/>
    <arg name="paused" value="true" />
    <arg name="gui" value="false" />
  </include> -->

  <!-- Load the formation parameter file-->
  <rosparam file="$(find multi_robot_launcher)/config/formation.yaml" command="load"></rosparam>
  <!-- Setting up the Formation of robots -->
  <include file="$(find multi_robot_launcher)/launch/formation.launch"></include>

  <!-- <node name="record_system" pkg="rosbag" type="record" args="record -O /media/malte/3E0CFF1E0CFECFBF/tmp/$(arg filename).bag -a"/> -->
  <node name="record_system" pkg="rosbag" type="record" args="record -O /tmp/$(arg filename).bag -a"/>

  <!-- <node name="record_system_trajectories" pkg="rosbag" type="record" args="record -O  /media/malte/3E0CFF1E0CFECFBF/tmp/$(arg filename)_Trajectories.bag -e /trajectory_odom | /robot(.*)"/> -->
  <node name="record_system_trajectories" pkg="rosbag" type="record" args="record -O  /tmp/$(arg filename)_Trajectories.bag -e /trajectory_odom | /robot(.*) | /master(.*)"/>

</launch>
