<?xml version="1.0" ?>
<!-- This file launches a multi robot formation with below defined masters and slaves.
      If you want to add or substract a robot you have to comment/uncomment the corresponding line of remaping for each parameter and the spawining of the robot below.
      Maximum testet number of robots is 6 since as a 7th is spawned gazebo crashes.-->
<launch>


<!-- Remap parameter for more compact yaml file and shared parameters between the robots -->
<!-- Remap lyapunov parameter of the controller-->
<remap from="/master/controller/lyapunov" to="/lyapunov"/>
<remap from="/robot1/controller/lyapunov" to="/lyapunov"/>
<remap from="/robot2/controller/lyapunov" to="/lyapunov"/>
<remap from="/robot3/controller/lyapunov" to="/lyapunov"/>
<remap from="/robot4/controller/lyapunov" to="/lyapunov"/>
<remap from="/robot5/controller/lyapunov" to="/lyapunov"/>

<!-- Remap angle distance parameter of the controller-->
<remap from="/master/controller/angle_distance" to="/angle_distance"/>
<remap from="/robot1/controller/angle_distance" to="/angle_distance"/>
<remap from="/robot2/controller/angle_distance" to="/angle_distance"/>
<remap from="/robot3/controller/angle_distance" to="/angle_distance"/>
<remap from="/robot4/controller/angle_distance" to="/angle_distance"/>
<remap from="/robot5/controller/angle_distance" to="/angle_distance"/>

<!-- Remap tf publishing parameter of the controller-->
<remap from="/master/controller/publish_tf" to="/publish_tf"/>
<remap from="/robot1/controller/publish_tf" to="/publish_tf"/>
<remap from="/robot2/controller/publish_tf" to="/publish_tf"/>
<remap from="/robot3/controller/publish_tf" to="/publish_tf"/>
<remap from="/robot4/controller/publish_tf" to="/publish_tf"/>
<remap from="/robot5/controller/publish_tf" to="/publish_tf"/>

<!-- Remap tf publishing parameter of the controller-->
<!-- Commented since the controller of master often differs from the slave controllers -->
<!-- <remap from="/master/controller/controller_type" to="/controller_type"/> -->
<remap from="/robot1/controller/controller_type" to="/controller_type"/>
<remap from="/robot2/controller/controller_type" to="/controller_type"/>
<remap from="/robot3/controller/controller_type" to="/controller_type"/>
<remap from="/robot4/controller/controller_type" to="/controller_type"/>
<remap from="/robot5/controller/controller_type" to="/controller_type"/>

<!-- Remap world_frame parameter of the controller-->
<remap from="/master/controller/world_frame" to="/world_frame"/>
<remap from="/robot1/controller/world_frame" to="/world_frame"/>
<remap from="/robot2/controller/world_frame" to="/world_frame"/>
<remap from="/robot3/controller/world_frame" to="/world_frame"/>
<remap from="/robot4/controller/world_frame" to="/world_frame"/>
<remap from="/robot5/controller/world_frame" to="/world_frame"/>

<!-- Remap current odometry parameter of the controller-->
<remap from="/master/controller/topic_current_odometry" to="/topic_current_odometry"/>
<remap from="/robot1/controller/topic_current_odometry" to="/topic_current_odometry"/>
<remap from="/robot2/controller/topic_current_odometry" to="/topic_current_odometry"/>
<remap from="/robot3/controller/topic_current_odometry" to="/topic_current_odometry"/>
<remap from="/robot4/controller/topic_current_odometry" to="/topic_current_odometry"/>
<remap from="/robot5/controller/topic_current_odometry" to="/topic_current_odometry"/>


<!-- Remap stop thresholds parameter of the controller-->
<remap from="/master/controller/thresh" to="/thresh"/>
<remap from="/robot1/controller/thresh" to="/thresh"/>
<remap from="/robot2/controller/thresh" to="/thresh"/>
<remap from="/robot3/controller/thresh" to="/thresh"/>
<remap from="/robot4/controller/thresh" to="/thresh"/>
<remap from="/robot5/controller/thresh" to="/thresh"/>


<!-- Setup a master mobile robot-->
<include file="$(find controller)/launch/master.launch">
  <arg name="robot_name" value="master"/>
  <arg name="robot_x"   value="-1.0" />  
  <arg name="robot_y"   value="0.0" />
  <arg name="robot_yaw" value="0" />
  <arg name="displ" value="screen"/>
</include>

<!-- Setup a slave mobile robot-->
<include file="$(find controller)/launch/slave.launch">
  <arg name="robot_name" value="robot1"/>
  <arg name="robot_x"   value="-1.5" />
  <arg name="robot_y"   value="1.5" />
  <arg name="robot_yaw" value="0" />
  <arg name="displ" value="screen"/>  
</include>

<!-- Setup a slave mobile robot-->
<include file="$(find controller)/launch/slave.launch">
  <arg name="robot_name" value="robot2"/>
  <arg name="robot_x"   value="-1.5" />
  <arg name="robot_y"   value="-1.5" />
  <arg name="robot_yaw" value="0" />
  <arg name="displ" value="screen"/>
</include>

<!-- Setup a slave mobile robot-->
<include file="$(find controller)/launch/slave.launch">
  <arg name="robot_name" value="robot3"/>
  <arg name="robot_x"   value="1.5" />
  <arg name="robot_y"   value="1.5" />
  <arg name="robot_yaw" value="0" />
  <arg name="displ" value="screen"/>  
</include>

<!-- Setup a slave mobile robot-->
<!-- <include file="$(find controller)/launch/slave.launch">
  <arg name="robot_name" value="robot4"/>
  <arg name="robot_x"   value="1.5" />
  <arg name="robot_y"   value="-1.5" />
  <arg name="robot_yaw" value="0" />
  <arg name="displ" value="screen"/>
</include> -->

<!-- Setup a slave mobile robot-->
<!-- <include file="$(find controller)/launch/slave.launch">
  <arg name="robot_name" value="robot5"/>
  <arg name="robot_x"   value="1.0" />  
  <arg name="robot_y"   value="0.0" />
  <arg name="robot_yaw" value="0" />
  <arg name="displ" value="screen"/>
</include>  -->

</launch>

