<?xml version="1.0" ?>
<!-- Start a recorded simulation-->
<launch>
  <arg name="filename" default="test"/>

  <!-- Load the formation parameter file-->
  <rosparam file="$(find multi_robot_launcher)/config/formation.yaml" command="load"></rosparam>

  <include file="$(find mir_description)/launch/upload_mir_urdf.launch" />


  <include file="$(find multi_robot_launcher)/launch/empty_world.launch">
    <arg name="paused" value="false" />
    <arg name="world_name" default="worlds/empty.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable, but can also be an absolute path -->
    <arg name="gui" value="false" />
    <arg name="recording" value="true"/>
    <arg name="file_path" value="$(find multi_robot_launcher)/gazebo/$(arg filename)" />
  </include>


  <include file="$(find multi_robot_launcher)/launch/system.launch"></include>

  <node name="SystemHandler" pkg="simulation_env" type="system_handling_node" output="screen" required="true"/>

  <!-- <node name="Measure" pkg="simulation_env" type="measurement_node" output="screen"/> -->

  <node name="record_system" pkg="rosbag" type="record" args="record -o $(find multi_robot_launcher)/bag/$(arg filename).bag -a"/>

  <node name="record_system_trajectories" pkg="rosbag" type="record" args="record -o $(find multi_robot_launcher)/bag/$(arg filename)_Robots.bag  -e /robot(.*)"/>
</launch>
