<?xml version="1.0"?>
<launch>
    <arg name="object_name" default="car"/>
    <param name="block_description" 
        command="$(find xacro)/xacro --inorder $(find multi_robot_launcher)/urdf/transport_object.urdf.xacro object_name:=$(arg object_name) x:=0.0 y:=0.0 z:=0.4 x_size:=0.0001 y_size:=0.00001 z_size:=0.00001"/>
        
    <!--Spawn the MiR plattform into Gazebo-->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -param block_description -model object -x 0.0 -y 0.0 -Y 0.0 -z 0.0" 
        respawn="false" output="screen"/>         
</launch>