<?xml version="2.0" ?>
<launch>
  <arg name="gui" default="true" />
  <arg name="world_name" default="worlds/empty.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable, but can also be an absolute path -->
  <arg name="controller_name" default="none"/>  
 <param name="/frequency" value="10" />


<rosparam file="$(find multi_robot_launcher)/config/formation.yaml" command="load"></rosparam>


<include file="$(find mir_description)/launch/upload_mir_urdf.launch" />


<include file="$(find gazebo_ros)/launch/empty_world.launch">
  <arg name="paused" value="true" />
  <arg name="world_name" value="$(arg world_name)"/>
  <arg name="gui" value="$(arg gui)" />
</include>


<!-- 
<include file="$(find slave)/launch/slave.launch">
  <arg name="robot_name" value="robot1"/>
  <arg name="robot_x"   value="-1.25" />
  <arg name="robot_y"   value="1.25" />
  <arg name="name_master" value="robot_master"/>
</include>


<include file="$(find slave)/launch/slave.launch">
  <arg name="robot_name" value="robot2"/>
  <arg name="robot_x"   value="-1.25" />
  <arg name="robot_y"   value="-1.25" />
  <arg name="name_master" value="robot_master"/>
</include> -->



<include file="$(find master)/launch/master.launch">
  <arg name="robot_name" value="robot_master"/>
  <arg name="robot_x"   value="0.0" />
  <arg name="robot_y"   value="0.0" />
  <arg name="displ" value="screen"/>

</include>


<node type="rviz" name="rviz" pkg="rviz" args="-d $(find multi_robot_launcher)/rviz/system.rviz" />


</launch>
