<?xml version="1.0" ?>
<launch>
  <arg name="gui" default="true" />
  <arg name="world_name" default="worlds/empty.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable, but can also be an absolute path -->
  



  <group ns="robot1" >
    <param name="input_master" type="str" value="master_in"/>
    <param name="output_master" type="str" value="mobile_base_controller/cmd_vel"/>

    <include file="$(find multi_robot_system)/launch/mir_gazebo_common.launch">
    <arg name="robot_x"   value="0.0" />
    <arg name="robot_y"   value="0.0" />
    <arg name="controller_name" value="robot1" />    
  </include>  
  <node name="Master_ctr" pkg="multi_robot_system" type="robot_master.py"> </node>
</group>



 <group ns="robot2" >
  <arg name="robot_x"   value="0.0" />
  <arg name="robot_y"   value="-1.5" />
  <param name="input_slave" type="str" value="/robot1/mobile_base_controller/cmd_vel"/>
    <param name="output_slave" type="str" value="mobile_base_controller/cmd_vel"/>
    <param name="is_left" type="bool" value="true" />
    <param name="robot_x" type="double" value="$(arg robot_x)"/>
    <param name="robot_y" type="double" value="$(arg robot_y)"/>
    
    <include file="$(find multi_robot_system)/launch/mir_gazebo_common.launch">
     <arg name="robot_x"   value="$(arg robot_x)" />
     <arg name="robot_y"   value="$(arg robot_y)" />
     <arg name="controller_name" value="robot2" />
    </include>  
  
  <node name="Slave_ctr" pkg="multi_robot_system" type="robot_slave.py"> </node>
</group> 


<group ns="robot3" >
 <arg name="robot_x"   value="0.0" />
 <arg name="robot_y"   value="1.5" />
  <param name="input_slave" type="str" value="/robot1/mobile_base_controller/cmd_vel"/>
    <param name="output_slave" type="str" value="mobile_base_controller/cmd_vel"/>
    <param name="is_left" type="bool" value="false" />   
    <param name="robot_x" type="double" value="$(arg robot_x)"/>
    <param name="robot_y" type="double" value="$(arg robot_y)"/>
    
    <include file="$(find multi_robot_system)/launch/mir_gazebo_common.launch">
     <arg name="robot_x"   value="$(arg robot_x)" />
     <arg name="robot_y"   value="$(arg robot_y)" />
     <arg name="controller_name" value="robot3" />
    </include>  

    
  <node name="Slave_ctr" pkg="multi_robot_system" type="robot_slave.py"> </node>
</group> 

<group ns="robot4" >
 <arg name="robot_x"   value="1.5" />
 <arg name="robot_y"   value="0.0" />
  <param name="input_slave" type="str" value="/robot1/mobile_base_controller/cmd_vel"/>
    <param name="output_slave" type="str" value="mobile_base_controller/cmd_vel"/>
    <param name="is_left" type="bool" value="false" />   
    <param name="robot_x" type="double" value="$(arg robot_x)"/>
    <param name="robot_y" type="double" value="$(arg robot_y)"/>
    
    <include file="$(find multi_robot_system)/launch/mir_gazebo_common.launch">
     <arg name="robot_x"   value="$(arg robot_x)" />
     <arg name="robot_y"   value="$(arg robot_y)" />
     <arg name="controller_name" value="robot4" />
    </include>  

    
  <node name="Slave_ctr" pkg="multi_robot_system" type="robot_slave.py"> </node>
</group> 



 




 <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world_name)"/>
      <arg name="paused" value="false" />
      <arg name="gui" value="$(arg gui)" />
    </include>


   



  <!-- spawn robot and bring up controllers etc. -->  
  
</launch>
