<?xml version="2.0" ?>
<launch>
  <arg name="gui" default="true" />
  <arg name="world_name" default="worlds/empty.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable, but can also be an absolute path -->
  <arg name="controller_name" default="none"/>
 <param name="/frequency" value="10" />
  <arg name="filename" default=""/>

<include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world_name)"/>
      <arg name="paused" value="false" />
      <arg name="gui" value="$(arg gui)" />
</include>

 <node type="rviz" name="rviz" pkg="rviz" args="-d $(find multi_robot_system)/config/rviz.rviz" />
 
 <node pkg="rosbag" type="play" name="player" output="screen" args="--clock %(arg filename)"/>

</launch>
