<?xml version="2.0" ?>
<launch>

<arg name="robot_name"  default="robot"/>
<arg name="robot_x"     default="0.0" />
<arg name="robot_y"     default="0.0" />
<arg name="name_master" default="master"/>
<arg name="displ"       default="log"/>
 



<group ns="$(arg robot_name)" > 
    <include file="$(find multi_robot_launcher)/launch/setup_mir_controller.launch">
        <arg name="robot_x"   value="$(arg robot_x)" />
        <arg name="robot_y"   value="$(arg robot_y)" />
        <arg name="controller_name" value="$(arg robot_name)" />
    </include>  
  
<node name="Master_ctr" pkg="master" type="master_node" args="$(arg robot_name) /key_vel " output="$(arg displ)"></node>
    
   
</group> 
</launch>


