<?xml version="1.0"?>
<robot  xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
        xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
        xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
        xmlns:xacro="http://ros.org/wiki/xacro">
  
 
  <xacro:include filename="$(find mir_description)/urdf/include/imu.gazebo.urdf.xacro" />
  <xacro:include filename="$(find mir_description)/urdf/include/mir_200.gazebo.xacro" />
  <xacro:include filename="$(find mir_description)/urdf/include/mir_200.transmission.xacro" />
  <xacro:include filename="$(find mir_description)/urdf/include/sick_s300.urdf.xacro" />

  <xacro:include filename="$(find multi_robot_launcher)/urdf/material_properties.urdf.xacro" />
  <xacro:include filename="$(find multi_robot_launcher)/urdf/caster_wheel.urdf.xacro"/>
  <xacro:include filename="$(find multi_robot_launcher)/urdf/actuated_wheel.urdf.xacro"/>


  <xacro:macro name="mir_200" params="prefix">
    <link name="${prefix}base_footprint" />

    <joint name="${prefix}base_joint" type="fixed">
      <parent link="${prefix}base_footprint" />
      <child link="${prefix}base_link" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <link name="${prefix}base_link">
      <xacro:box_inertial mass="${mir_200_base_mass}" x="0.9" y="0.58" z="0.3">
        <origin xyz="${mir_200_act_wheel_dx} 0 0.20" rpy="0 0 0" />
      </xacro:box_inertial>
      <visual>
        <origin xyz="${mir_200_act_wheel_dx} 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mir_description/meshes/visual/MIR200_base.stl" />
        </geometry>
        <xacro:insert_block name="material_white" />
      </visual>
      <collision>
        <origin xyz="${mir_200_act_wheel_dx} 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mir_description/meshes/collision/MIR200_base.stl" />
        </geometry>
      </collision>
    </link>
    <gazebo reference="${prefix}base_link">
      <material>Gazebo/LightGrey</material>
    </gazebo>

    <joint name="${prefix}base_link_surface_joint" type="fixed">
      <origin xyz="${mir_200_act_wheel_dx} 0 0.352" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}surface" />
      <axis xyz="0 0 1" />
    </joint>

    <link name="${prefix}surface"/>
    

    <xacro:mir_200_wheel_transmissions prefix="${prefix}"/>
    <!-- wheels -->
    <xacro:actuated_wheel prefix="${prefix}" locationprefix="left"  locationright="-1" damping_wheel="0.0" friction_wheel="0.0"/>
    <xacro:actuated_wheel prefix="${prefix}" locationprefix="right" locationright="1" damping_wheel="0.0" friction_wheel="0.0"/>
    <xacro:caster_wheel prefix="${prefix}" locationprefix="fl" locationright="-1"   wheel_base_dx="${mir_200_front_caster_wheel_base_dx}" damping_steering="0.0" friction_steering="0.0" damping_wheel="0.0" friction_wheel="0.0"/>
    <xacro:caster_wheel prefix="${prefix}" locationprefix="fr" locationright="1"    wheel_base_dx="${mir_200_front_caster_wheel_base_dx}" damping_steering="0.0" friction_steering="0.0" damping_wheel="0.0" friction_wheel="0.0"/>
    <xacro:caster_wheel prefix="${prefix}" locationprefix="bl" locationright="-1"   wheel_base_dx="${mir_200_back_caster_wheel_base_dx}" damping_steering="0.0" friction_steering="0.0" damping_wheel="0.0" friction_wheel="0.0"/>
    <xacro:caster_wheel prefix="${prefix}" locationprefix="br" locationright="1"    wheel_base_dx="${mir_200_back_caster_wheel_base_dx}" damping_steering="0.0" friction_steering="0.0" damping_wheel="0.0" friction_wheel="0.0"/>

    <!-- IMU -->
    <joint name="${prefix}base_link_to_imu_joint" type="fixed">
      <parent link="${prefix}base_link" />
      <child link="${prefix}imu_link" />
      <origin xyz="0.0 0.0 0.25" rpy="0 0 0" />  <!-- same as real MiR -->
    </joint>

    <link name="${prefix}imu_link" />

    <xacro:imu_gazebo link="${prefix}imu_link" imu_topic="imu_data" update_rate="50.0" stdev="${imu_stdev}" />

    <!-- Create an alias for imu_link. This is necessary because the real MiR's
         TF has imu_link, but the imu_data topic is published in the imu_frame
         frame. -->
    <joint name="${prefix}imu_link_to_imu_frame_joint" type="fixed">
      <parent link="${prefix}imu_link" />
      <child link="${prefix}imu_frame" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <link name="${prefix}imu_frame" />




    <!-- Laser scanners -->
    <joint name="${prefix}base_link_to_front_laser_joint" type="fixed">
      <parent link="${prefix}base_link" />
      <child link="${prefix}front_laser_link" />
      <origin xyz="0.4288 0.2358 0.1914" rpy="0.0 0.0 ${0.25 * pi}" />  <!-- from visually matching up the meshes of the MiR and the laser scanner -->
    </joint>
    <xacro:sick_s300 prefix="${prefix}" link="front_laser_link" topic="f_scan" />

    <joint name="${prefix}base_link_to_back_laser_joint" type="fixed">
      <parent link="${prefix}base_link" />
      <child link="${prefix}back_laser_link" />
      <origin xyz="-0.3548 -0.2352 0.1914" rpy="0.0 0.0 ${-0.75 * pi}" />  <!-- from visually matching up the meshes of the MiR and the laser scanner -->
    </joint>

    <xacro:sick_s300 prefix="${prefix}" link="back_laser_link" topic="b_scan" />



    <!-- Ultrasound sensors -->
    <joint name="${prefix}us_1_joint" type="fixed">   <!-- right ultrasound -->
      <parent link="${prefix}base_link" />
      <child link="${prefix}us_1_frame" />
      <origin xyz="0.45 -0.12 0.16 " rpy="0 0 0" />  <!-- from visually matching to the mesh of the MiR -->
    </joint>
    <link name="${prefix}us_1_frame" />

    <joint name="${prefix}us_2_joint" type="fixed">   <!-- left ultrasound -->
      <parent link="${prefix}base_link" />
      <child link="${prefix}us_2_frame" />
      <origin xyz="0.45 0.12 0.16 " rpy="0 0 0" />  <!-- from visually matching to the mesh of the MiR -->
    </joint>
    <link name="${prefix}us_2_frame" />

    <!-- Ultrasound sensor plugin missing ?! -->



    <!-- disabled, because it doesn't make a difference in Gazebo: -->
    <!-- <xacro:set_all_wheel_frictions prefix="${prefix}"/> -->

    <p3d_base_controller prefix="${prefix}" />

    <!-- Camera -->
    <link name="camera_link">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.1 0.1 0.1"/>
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://mir_description/meshes/visual/realsense.dae" />
        </geometry>
      </visual>
      <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
      </inertial>
    </link>

    <joint name="camera_joint" type="fixed">
      <axis xyz="0 1 0" />
      <origin xyz="0.42 0 0.27" rpy="0 0.2 0"/> <!--set the position of the realsense-->
      <parent link="${prefix}base_link"/>
      <child link="camera_link"/>
    </joint>

    <!-- generate an optical frame http://www.ros.org/reps/rep-0103.html#suffix-frames
        so that ros and opencv can operate on the camera frame correctly -->
    <joint name="camera_optical_joint" type="fixed">
      <!-- these values have to be these values otherwise the gazebo camera image
          won't be aligned properly with the frame it is supposedly originating from -->
      <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708"/>
      <parent link="camera_link"/>
      <child link="camera_link_optical"/>
    </joint>

    <link name="camera_link_optical">
    </link>
  </xacro:macro>
</robot>
